{% extends 'base/base.html' %}

{% block title %}Product List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Product</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
                
            </div>
            
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th> 
                                <th>Ref No</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Cost Price</th>
                                <th>Sale Price</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if queryset %}
                            {% for product in queryset %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ product.refno }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category }}</td>
                                <td>PKR {{ product.cost_price }}</td>
                                <td>PKR {{ product.selling_price }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.description }}</td>
                                <td><a href="/inventory/update_products/{{product.id}}"><button class ="btn btn-primary btn-sm mb-1" type="button" >Edit</button> </a>
                                    <a href="/inventory/delete_products/{{product.id}}"> <button class ="btn btn-danger btn-sm mb-1" type="button">Delete</button></a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}